.col-md-3.col-sm-6
  .portfolio-item
    .portfolio-image
      = image_tag "logos/add4d.jpg"
    .portfolio-info
      %ul
        %li.portfolio-project-name AD&D 4D
        %li Photogrammetry 
        %li 3D Support
        %li.read-more
          = link_to "Read More", "https://sketchfab.com/add4d", target: "_blank", class: "btn"