.col-md-2.col-sm-6
  .portfolio-item
    .portfolio-image
      = image_tag "logos/add4d.jpg"
    .portfolio-info
      %ul
        %li.read-more
          = link_to "Read More", "https://sketchfab.com/add4d", target: "_blank", class: "btn"
