.col-md-4.col-sm-6
  .portfolio-item
    .portfolio-image
      = image_tag "logos/agisoft.png"
    .portfolio-info
      %ul
        %li.portfolio-project-name Agisoft
        %li Photogrammetry
        %li Software
        %li.read-more
          = link_to "Read More", "http://www.agisoft.com/", target: "_blank", class: "btn"
