.col-md-3.col-sm-6
  .portfolio-item
    .portfolio-image
      = image_tag "logos/arctron.png"
    .portfolio-info
      %ul
        %li.portfolio-project-name Arctron 3D
        %li Photogrammetry & 3D Support
        %li &nbsp;
        %li.read-more
          = link_to "Read More", "http://www.arctron.de", target: "_blank", class: "btn"