.col-md-4.col-sm-6
  .portfolio-item
    .portfolio-image
      = image_tag "logos/culturalmap_logo.png"
    .portfolio-info
      %ul
        %li.portfolio-project-name Culturalmap
        %li Education
        %li Geo-publishing
        %li.read-more
          = link_to "Read More", "http://www.culturalmap.org", target: "_blank", class: "btn"
