.col-md-3.col-sm-6
  .portfolio-item
    .portfolio-image
      = image_tag "logos/cvast.png"
    .portfolio-info
      %ul
        %li.portfolio-project-name CVAST
        %li Research
        %li Development
        %li.read-more
          = link_to "Read More", "https://www.facebook.com/USFCVAST/", target: "_blank", class: "btn"
