.col-md-2.col-sm-6
  .portfolio-item
    .portfolio-image
      = image_tag "logos/cyark.png"
    .portfolio-info
      %ul
        %li.read-more
          = link_to "Read More", "http://www.cyark.org", target: "_blank", class: "btn"
