.col-md-3.col-sm-6
  .portfolio-item
    .portfolio-image
      = image_tag "logos/cyark.png"
    .portfolio-info
      %ul
        %li.portfolio-project-name CyArk
        %li 3D Support
        %li Archiving
        %li.read-more
          = link_to "Read More", "http://www.cyark.org", target: "_blank", class: "btn"
