.col-md-2.col-sm-6
  .portfolio-item
    .portfolio-image
      = image_tag "logos/digitalmed.jpg"
    .portfolio-info
      %ul
        %li.read-more
          = link_to "Read More", "http://www.um.es/web/digitalmed/", target: "_blank", class: "btn"
