.col-md-2.col-sm-6
  .portfolio-item
    .portfolio-image
      = image_tag "logos/economist.png"
    .portfolio-info
      %ul
        %li.read-more
          = link_to "Read More", "http://labs.economist.com/", target: "_blank", class: "btn"
