.col-md-3.col-sm-6
  .portfolio-item
    .portfolio-image
      = image_tag "logos/espace_logo.jpg"
    .portfolio-info
      %ul
        %li.portfolio-project-name Europeana Space, Best Practice Network
        %li Education and Dissemination
        %li &nbsp;
        %li.read-more
          = link_to "Read More", "http://www.europeana-space.eu/", target: "_blank", class: "btn"