.col-md-2.col-sm-6
  .portfolio-item
    .portfolio-image
      = image_tag "logos/ifp.png"
    .portfolio-info
      %ul
        %li.read-more
          = link_to "Read More", "http://www.ifp.uni-stuttgart.de/", target: "_blank", class: "btn"
