.section.section-white
  .container
    .row
      .col-md-6
        %h3 Rekrei
        %p
          Rekrei, formally known as Project Mosul, is an initiative started by Matthew Vincent and Chance Coughenour. By integrating our knowledge in archaeology, web development, and photogrammetry, our objective is to promote the digital preservation of lost cultural heritage using crowdsourced data in a cooperative, open-source project.
        %p
          = image_tag 'logos/rekrei_500.png', class: 'img img-responsive'
      .col-md-6
        .video-wrapper
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "480", :mozallowfullscreen => "true", :onmousewheel => "", :src => "https://sketchfab.com/models/55ea0aed9bfd462593f006ea8c4aade0/embed", :webkitallowfullscreen => "true", :width => "100%"}
          %p{:style => "font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;"}
          %a{:href => "https://sketchfab.com/models/55ea0aed9bfd462593f006ea8c4aade0?utm_source=oembed&utm_medium=embed&utm_campaign=55ea0aed9bfd462593f006ea8c4aade0", :style => "font-weight: bold; color: #1CAAD9;", :target => "_blank"} The Lion of Mosul
          by
          %a{:href => "https://sketchfab.com/neshmi?utm_source=oembed&utm_medium=embed&utm_campaign=55ea0aed9bfd462593f006ea8c4aade0", :style => "font-weight: bold; color: #1CAAD9;", :target => "_blank"} neshmi
          on
          %a{:href => "https://sketchfab.com?utm_source=oembed&utm_medium=embed&utm_campaign=55ea0aed9bfd462593f006ea8c4aade0", :style => "font-weight: bold; color: #1CAAD9;", :target => "_blank"} Sketchfab
      .col-md-12.mt30
        %h2 Get Involved!
        %ul
          .col-md-6
            %li
              Help us locate cultural heritage sites at risk or recently destroyed
              = link_to 'here.', locations_path
            %li Have pictures of a site or artefact that no longer exists? Sign-up and upload the your pictures at the corresponding location above.
            %li
              Know how to code? Why not help out with building the project’s tool
              = link_to 'here.', 'https://github.com/neshmi/projectmosul'
          .col-md-6
            %li Want to volunteer your time and help us sort and group images? You can start by selecting one of the locations on the map above.
            %li Familiar with photogrammetry software? Try your expertise with creating new or improving the models.
            %li
              Join the conversation with the community of volunteers on our Slack channel
              = link_to 'here.', 'https://projectmosul.github.io'
