.col-md-3.col-sm-6
  .portfolio-item
    .portfolio-image
      = image_tag "logos/itndch.jpg"
    .portfolio-info
      %ul
        %li.portfolio-project-name Initial Training Network for Digital Cultural Heritage
        %li Coordinating partner
        %li.read-more
          = link_to "Read More", "http://www.itn-dch.eu", target: "_blank", class: "btn"