.container.mt15
  .row
    .col-md-6
      .video-wrapper
        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "480", :mozallowfullscreen => "true", :onmousewheel => "", :src => "/kathmandu.html", :webkitallowfullscreen => "true", :width => "100%"}
        %p{:style => "font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;"}
          %a{:href => "https://sketchfab.com/models/e21d746815b248b1b566b12aa7fa596e?utm_medium=embed&utm_source=website&utm_campain=share-popup", :style => "font-weight: bold; color: #1CAAD9;", :target => "_blank"} Kathmandu
          by
          %a{:href => "https://sketchfab.com/nframes?utm_medium=embed&utm_source=website&utm_campain=share-popup", :style => "font-weight: bold; color: #1CAAD9;", :target => "_blank"} nFrames
          on
          %a{:href => "https://sketchfab.com?utm_medium=embed&utm_source=website&utm_campain=share-popup", :style => "font-weight: bold; color: #1CAAD9;", :target => "_blank"} Sketchfab
    .col-md-6
      %h2 nFrames & Kathmandu
      %p
        Rekrei isn't just about heritage in the Middle East, but focuses on heritage around the world. Recently, our partners at
        = link_to 'nFrames', 'http://www.nframes.com', target: "_blank"
        have been working on some reconstructing the entire city of Kathmandu, with particular emphasis on the heritage in the center of the city. This
        = link_to 'blog post', 'http://blog.sketchfab.com/post/125761697819/kathmandu-3d-views-before-and-after-the', target: "_blank"
        gives a full description of the project. In the mean time, we are embedded a special viewer put together by the awesome folks at Sketchfab that shows the Kathmandu before and after the earthquake.
      %p
        %strong
          Great work nFrames!
