.section.nopadding
  #map

- content_for :scripts do
  %script{:src => "//maps.google.com/maps/api/js?libraries=geometry", :type => "text/javascript"}
  %script{:src => "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.1.2/src/markerclusterer_packed.js", :type => "text/javascript"}
  :coffeescript
    handler = Gmaps.build('Google')
    handler.buildMap {
      provider: {}
      internal: id: 'map'
    }, ->
      markers = handler.addMarkers(#{raw @hash.to_json})
      handler.bounds.extendWith markers
      handler.fitMapToBounds()
      return
