.container.mt15
  .row
    .col-md-6
      .video-wrapper
        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "480", :mozallowfullscreen => "true", :onmousewheel => "", :src => "https://sketchfab.com/models/5a7dc5d1683c4eb98d42badb40e64027/embed", :webkitallowfullscreen => "true", :width => "100%"}
        %p{:style => "font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;"}
          %a{:href => "https://sketchfab.com/models/5a7dc5d1683c4eb98d42badb40e64027?utm_source=oembed&utm_medium=embed&utm_campaign=5a7dc5d1683c4eb98d42badb40e64027", :style => "font-weight: bold; color: #1CAAD9;", :target => "_blank"} Stela 7 - Before and After
          by
          %a{:href => "https://sketchfab.com/chancec?utm_medium=embed&utm_source=website&utm_campain=share-popup", :style => "font-weight: bold; color: #1CAAD9;", :target => "_blank"} chancec
          on
          %a{:href => "https://sketchfab.com?utm_medium=embed&utm_source=website&utm_campain=share-popup", :style => "font-weight: bold; color: #1CAAD9;", :target => "_blank"} Sketchfab
    .col-md-6
      %h2 La Milpa, Belize
      %p
        Thanks to the combination of crowdsourcing and planned acquisition, we have a new reconstructed model from before and after an ancient monument collapsed. Also the first reconstruction from the Americas, this carved Maya stela and it's surrounding context at the archaeological site of La Milpa in Belize have been visualised with an annotative tour (bottom-right) thanks to features in the the Sketchfab viewer.
      %p
        Go ahead and have a look for yourself on your computer, mobile or Google Cardboard!
