#myCarousel.carousel.slide{"data-ride" => "carousel"}
  .carousel-inner{:role => "listbox"}
    .item.active
      = render 'milpa'
    .item
      = render 'kathmandu'
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
  %a.left.carousel-control.btn.btn-default{"data-slide" => "prev", :href => "#myCarousel", :role => "button"}
    %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "false"}
    %span.sr-only Previous
  %a.right.carousel-control.btn.btn-default{"data-slide" => "next", :href => "#myCarousel", :role => "button"}
    %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "false"}
    %span.sr-only Next
