.col-md-3.col-sm-6
  .portfolio-item
    .portfolio-image
      = image_tag "logos/nframes.png"
    .portfolio-info
      %ul
        %li.read-more
          = link_to "Read More", "http://nframes.com/", target: "_blank", class: "btn"
