.container.mt15
  .row
    .col-md-6.col-sm-12
      %h2
        Project Mosul: The Story of Rekrei
      %p
        We are incredibly grateful to Joosung Kwon and Holly Butcher and
        = link_to 'Kinetoscope Studios', 'https://www.kinetoscopestudios.com/', target: '_blank'
        for their willingness and interest in telling our story.
      %p
        %b Thank you!
      .youtube-container
        .youtube-video#rekreivideo
      .clearfix
    .col-md-6.col-sm-12
      %p
        = link_to image_tag('logos/kinetoscope_studios.jpg', class: "img img-responsive", alt: 'kinetoscope studios logo'), 'https://www.kinetoscopestudios.com/', target: '_blank'
