.col-md-3.col-sm-6
  .portfolio-item
    .portfolio-image
      = image_tag "logos/sketchfab_logo.jpg"
    .portfolio-info
      %ul
        %li.read-more
          = link_to "Read More", "https://sketchfab.com/", target: "_blank", class: "btn"
