.col-md-4.col-sm-6
  .portfolio-item
    .portfolio-image
      = image_tag "logos/sketchfab_logo.jpg"
    .portfolio-info
      %ul
        %li.portfolio-project-name Sketchfab
        %li 3D Model Hosting
        %li Technical Support
        %li.read-more
          = link_to "Read More", "https://sketchfab.com/", target: "_blank", class: "btn"
