.container.mt15
  .row
    .col-md-6.col-sm-12
      .youtube-container
        .youtube-video#tedxvideo
      %p
        = link_to image_tag('logos/tedx_hamburg_transparent.png', class: "img img-responsive"), 'http://tedxhamburg.de', target: '_blank'
      .clearfix
    .col-md-6.col-sm-12
      %h2
        How to Crowdsource the Reconstruction of Lost Heritage
      %p On June 8th, we enjoyed the opportunity to share Rekrei’s developments at the annual TEDx event in Hamburg, Germany. It was a pleasure to share the collaborative effort of our many volunteers and partners. Thanks to the Economist Media Lab, we also had 3D printed objects for the audience to witness up close following the talk.
      %p We’d like to thank the organizers for the invitation and the audience who showed so much enthusiasm towards collaborative efforts for preserving the memory of lost heritage.
