.col-md-3.col-sm-6
  .portfolio-item
    .portfolio-image
      = image_tag "logos/3dflow.png"
    .portfolio-info
      %ul
        %li.portfolio-project-name 3D Flow
        %li Photogrammetry 
        %li Software
        %li.read-more
          = link_to "Read More", "http://www.3dflow.net/", target: "_blank", class: "btn"