- title "About Rekrei"
.section.section-breadcrumbs
  .container
    .row
      .col-md-12
        %h1 About Rekrei
.section
  .container
    .row
      .col-md-1
      .col-md-10.span-1
        %p This project strives to preserve the memory of lost cultural heritage through the means of digital restoration.
        %p Following the destruction of cultural heritage in northern Iraq, Project Mosul was founded by Matthew Vincent and Chance Coughenour as a volunteer effort to facilitate the empowerment of volunteers from across the globe to aid in the restoration of our shared heritage in face of its unnecessary loss. The recent acts of cultural destruction have been described by UNESCO as a ‘cultural tragedy’ and strongly condemned by ICOMOS. Beyond just destruction, we are witness to looting and black market sales of cultural heritage from Iraq, Syria and beyond. But we need not feel helpless nor passive spectators. Beyond just destruction, we are witness to looting and black market sales of cultural heritage from Iraq, Syria and beyond. Likewise, cultural heritage is also at risk such as the devastating results of the earthquake in Nepal has demonstrated.
        %p As the project has advanced its scope internationally, so too, has its name. Rekrei means recreate in Esperanto, a language that was constructed for the purpose of international universality. Building on the initial workflow of using crowdsourced images to virtually recreate artefacts using photogrammetry, our web-based platform is evolving to better utilise publicly-available data on the web to assist our volunteers in new ways.
