<% title("Home Page") %> 
<h1><i class="fa fa-info"></i> About Project Mosul</h1>
<p>Project Mosul is a volunteer action by the fellows of the Initial Trianing Network for Digital Cultural Heritage (<a href="http://www.itn-dch.eu", target="_blank">www.itn-dch.eu</a>), a Marie Curie Actions training project that is part of the Seventh Framework Programme. The fellows of the ITN-DCH are asking 
<h2><i class="fa fa-users"></i> Project Mosul: Call For Action</h2>
<p>We are looking for volunteers to help virtually restore the Mosul Museum. This includes finding photos, processing data, contributing to the website and generally helping out with organising the effort to identify the museum artefacts. If you can help, drop us a line <%= link_to "here", contact_path %>, or e-mail us directly at projectmosul@itn-dch.net.</p>
<p><strong>For an example of how crowd-sourced images can help restore artefacts, check out this example <a href="http://neshmi.tumblr.com/post/113110702891/project-mosul", target="_blank">here</a></strong></p>
<p>Thanks!</p>
<h3>How can I help?</h3>
<ol>
  <li>
    <p><strong>Upload Pictures</strong></p>
    <p>We need pictures of the artefacts found in the Mosul Museum. These pictures allow us to digitally reconstruct the original artefacts, and can eventually aid in the restoration those artefacts. The more pictures the better, and as many angles and perspectives, even better still!</p>
    <p>If you have pictures to contribute, search for the artefact in the list of artefacts and simply edit that artefact, adding your photos to the collection.</p>
  </li>
  <li>
    <p><strong>Develop the Web Platform</strong></p>
    <p>Know how to code in Ruby on Rails, Angular, or Go? Why not contribute to the web framework and help combat the destruction of ISIS with your coding skills. Visit the GitHub project page (<a href="https://github.com/neshmi/projectmosul", target="_blank">https://github.com/neshmi/projectmosul</a>) and check out the issues. Fork the repository, make a change and issue a pull request.</p>
  </li>
  <li>
    <p><strong>Mask Some Images</strong></p>
    <p>Our results will be improved if we can mask the artefacts in the images. Help us by masking some of the images in Photoshop (we are working on developing a web platform for the masking), save the mask in an alpha channel. This takes time, so the more hands we have the easier this task wll be!</p>
  <li>
    <p><strong>Get the word out</strong></p>
    <p>Know someone who has visited Mosul? Let them know about the project. We need as many pictures from inside and outside the building, the more people we can reach the greater the possibilities are of virtual restoration.</p>
  </li>
  <li>
    <p><strong>Process an artefact!</strong></p>
    <p>Do you know how to use automated photogrammetry to create three-dimensional models? Help us by downloading some of the photosets and processing the images.</p>
  </li> 
</ol>

<h1><i class="fa fa-home"></i> Project Mosul: A Manifesto</h1>

<p>The video circulated around the 26th of February, 2015 shows the horrific destruction of the Mosul Museum by ISIS Fighters. This is not the first time this museum has suffered during times of conflict, but the destruction is nearly absolute, and this time we can respond through the application of digital technologies to cultural heritage.</p>

<p>We assume that much of the museum’s contents were looted, and anything small enough to be easily removed will be appearing soon on the antiquities market. Anything too large to remove for sale, appears to have met a violent end at the hand of ISIS extremists. In both cases, it is possible to virtually recreate the lost items through the application of photogrammetry and crowdsourcing. Given enough photographs, digital or scans of analogues, it is possible to reconstruct the artefacts and create digital surrogates of those artefacts. This provides two immediate benefits: helping to identify looted items and recreating destroyed items.</p> 

<p>We propose to coordinate a volunteer effort of experts and amateurs in the crowdsourcing of the necessary digital imagery and the creation of digital surrogates for the artefacts in the museum. We would like to work with the local management of the Mosul Museum as much as possible, as well as with experts familiar with the collection and material. All data generated from this project will be freely available to the public.</p>

<p>This project is a direct response to the senseless destruction of cultural heritage by extremists, not only ISIS, but to any group who uses heritage as leverage or political power. Instead, we want to bring heritage back to life through digital tools, giving the public access to any destroyed heritage, starting with the Mosul Museum.</p>

<p>We ask for your support in this endeavour, a project we are voluntarily doing and hope that it will make heritage accessible to all the public.</p>
<br/>
<p>Sincerely the undersigned:  <br/>
Marinos Ioannides, project coordinator<br/>
Matthew L. Vincent, Early Stage Researcher<br/>
Chance M. Coughenour, Early Stage Researcher<br/>
</p>