.section.section-white
  .container
    .row
      .col-md-12.mt40
        %h1 Thank you!
        %h3 Your donations are greatly appreciated.
        %h3
          Just to confirm, you donated
          %b
            €
            = @pretty_amount
        %p If you have any questions or comments, don't hesitate to contact us.
