= form_for [@reconstruction, @sketchfab] do |f|
  .form-group
    = f.label :bbcode, 'BBCode'
    = f.text_area :bbcode, cols: 40, rows: 5, class: 'form-control'
  .form-group
    = f.submit nil, class: 'btn btn-default'
