# SQLite version 3.x
#   Ensure the SQLite 3 gem is defined in your Gemfile
#   gem 'sqlite3'
production:
  adapter: sqlite3
  database: /home/mosul/apps/projectmosul/db/production.sqlite3
  pool: 5
  timeout: 5000

staging:
  adapter: sqlite3
  database: /home/mosul/apps/projectmosul-staging/db/staging.sqlite3
  pool: 5
  timeout: 5000

development:
  adapter: sqlite3
  database: db/development.sqlite3
  pool: 5
  timeout: 5000

test:
  adapter: sqlite3
  database: db/test.sqlite3
  pool: 5
  timeout: 5000