/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

 *= require dropzone/dropzone
 *= require bootstrap_and_overrides
 *= require font-awesome.min
 *= require plugins
 *= require icomoon-social
 *= require leaflet
 *= require main
 *= require pagination
 *= require angularjs-slider
 *= require carousel
 *= require timeline
 */
 @import "font-awesome-sprockets";
 @import "font-awesome";

 @font-face {
   font-family: 'Glyphicons Halflings';
   src: url('/assets/glyphicons-halflings-regular.eot');
   src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/assets/glyphicons-halflings-regular.woff') format('woff'), url('/assets/glyphicons-halflings-regular.ttf') format('truetype'), url('/assets/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
 }

.sketchfab-gallery-item p {
  height: 50px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.nomargin {
  margin: 0 !important;
}

#map {
  height: 400px;
  width: 100%;
}

#map img {
  max-width: none;
}

#map label {
  width: auto; display:inline;
}

// more map stuff
#map-canvas {
  height: 300px;
  width: 100%;
  margin: 0px;
  padding: 0px
}
.controls {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

/** Utility Classes - Adapted from Neko's CSS Framework **/
.mb15 {
	margin-bottom:1.5em;
}
.mb30 {
	margin-bottom:3em;
}
.mb40 {
	margin-bottom:4em;
}
.mt15 {
	margin-top:1.5em;
}
.mt30 {
	margin-top:3em;
}
.mt40 {
	margin-top:4em;
}
.noMargin {
	margin:0;
}
.noPaddingBottom {
	padding-bottom:0 !important;
}
.noPaddingTop {
	padding-top:0
}

/** Flickr Photo Classes **/
.flickr_square {
  width: 320px;
}

.logo-wrapper img {
  max-height: 20px;
}

.flickr-item {
  height: 365px;
}

.flickr-item b {
  white-space: pre;
}

.app-store-link {
  float: left;
  height: 45px;
  padding-left: 10px;
  padding-top: 10px;
}

.app-store-link img {
  height: 100%;
}

.youtube-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.youtube-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footer-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 15px;
    padding-bottom: 5px;
}