.section.section-breadcrumbs
  .container
    .row
      .col-md-6
        %h1 New Artefact
      .col-md-3
      .col-md-3
        = link_to "cancel", artefacts_path, class: "btn"
.section
  .container
    .row
      .col-md-12
        %h1 New Artefact
        = render 'form'
        = link_to 'Back', artefacts_path
