#flickr.row.mt30
  .row
    %h3 Flickr Photos
    .col-md-12
      %dir-pagination-controls{"on-page-change"=>"flickrPageChanged(newPageNumber)", "pagination-id" => "flickr"}
    .col-md-12
      %div
        %h4 Distance from Location (in metres)
        %rzslider{"rz-slider-model"=>"distanceSlider.value", "rz-slider-floor"=>"distanceSlider.floor", "rz-slider-ceil"=>"distanceSlider.ceil", "rz-slider-on-change"=>"sliderChanged()"}
  .row
    .isotope-gallery-container
      .col-md-2.col-sm-6.col-xs-12.shop-item.flickr-item{"dir-paginate" => "flickrPhoto in flickrPhotos | itemsPerPage: flickrPhotosPerPage", "total-items" => "totalFlickrPhotos", "current-page" => "pagination.current", "pagination-id" => "flickr"}
        .shop-item-image
          %img.flickr_square(ng-src= "{{flickrPhoto.url_q}}")
        .actions
          %p
            %b
              {{ flickrPhoto.title | uppercase | limitTo : 15 }}
          %p {{ flickrPhoto.ownername }}
          %p
            %a{href: "https://www.flickr.com/photos/{{ flickrPhoto.owner }}/{{ flickrPhoto.id }}", target: "_blank"}
              %i.fa.fa-flickr
              View on Flickr
          %p
            %button.btn{"ng-click" => "addPhotoFromFlickr(flickrPhoto)"}
              %i.fa.fa-cloud-download
                Import
