#flickr.row.mt30
  .row
    %h3 Flickr Photos
    .col-md-12
      %dir-pagination-controls{"on-page-change"=>"flickrPageChanged(newPageNumber)", "pagination-id" => "flickr"}
    .col-md-12
      %div
        %h4 Distance from Location (in metres)
        %rzslider{"rz-slider-model"=>"distanceSlider.value", "rz-slider-options"=>"distanceSlider.options"}
  .row
    .isotope-gallery-container
      .col-md-2.col-sm-6.col-xs-12.shop-item.flickr-item{"dir-paginate" => "flickrPhoto in flickrPhotos | itemsPerPage: flickrPhotosPerPage", "total-items" => "totalFlickrPhotos", "current-page" => "currentFlickrPages", "pagination-id" => "flickr"}
        .shop-item-image
          %img.flickr_square(ng-src= "{{flickrPhoto.url_q}}")
        .actions
          %p
            %b
              {{ flickrPhoto.title | uppercase | limitTo : 15 }}
          %p {{ flickrPhoto.ownername }}
          %p
            %a{href: "https://www.flickr.com/photos/{{ flickrPhoto.owner }}/{{ flickrPhoto.id }}", target: "_blank"}
              %i.fa.fa-flickr
              View on Flickr
          %p
            %button.btn{"ng-click" => "addPhotoFromFlickr(flickrPhoto)"}
              %i.fa.fa-cloud-download
                Import
#flickr-text-search.row.mt30
  .row
    .col-md-12
      %dir-pagination-controls{"on-page-change"=>"flickrTextPageChanged(newPageNumber)", "pagination-id" => "flickr-text"}
    .col-md-12
      %div
        %h4 Free Text Search
        %input{"type"=>"text", "ng-model"=>"flickrTextSearch"}
        %button.btn{"ng-click" => "searchForFlickrPhotos()"}
          Search
  .row
    .isotope-gallery-container
      .col-md-2.col-sm-6.col-xs-12.shop-item.flickr-item{"dir-paginate" => "flickrTextPhoto in flickrTextPhotos | itemsPerPage: flickrTextPhotosPerPage", "total-items" => "totalFlickrTextPhotos", "current-page" => "currentFlickrTextPages", "pagination-id" => "flickr-text"}
        .shop-item-image
          %img.flickr_square(ng-src= "{{flickrTextPhoto.url_q}}")
        .actions
          %p
            %b
              {{ flickrTextPhoto.title | uppercase | limitTo : 15 }}
          %p {{ flickrTextPhoto.ownername }}
          %p
            %a{href: "https://www.flickr.com/photos/{{ flickrTextPhoto.owner }}/{{ flickrTextPhoto.id }}", target: "_blank"}
              %i.fa.fa-flickr
              View on Flickr
          %p
            %button.btn{"ng-click" => "addPhotoFromFlickr(flickrTextPhoto)"}
              %i.fa.fa-cloud-download
                Import
