#location-photos.row.mt30
  .row
    %h3 All Images at Location
    .col-md-12
      %dir-pagination-controls{"on-page-change"=>"locationPageChanged(newPageNumber)", "pagination-id" => "all"}
  .row
    .col-md-3.col-sm-6{"dir-paginate" => "photo in allLocationPhotos | itemsPerPage: photosPerPage", "total-items" => "totalLocationPhotos", "current-page" => "pagination.current", "pagination-id" => "all"}
      .shop-item
        .shop-item-image
          %img(ng-src= "{{ photo.square_url }}")
        .actions
          %button.btn{"ng-click" => "addReconstructionPhoto(photo)"}
            Add Image
