- title("Locations")

.section
  .container
    .row
      .col-md-12
        = link_to 'Add Location', new_location_path, class: 'btn btn-success', data: { no_turbolink: true }
        %br
        %br
    .row
      .col-md-12
        = render 'pages/map'
