%section.content-block-nopad.bg-deepocean.footer-wrap-1-3
  .container.footer-1-3
    .col-md-4.pull-left
      = image_tag "logos/rekrei_footer.png", class: "brand-img img-response"
    .col-md-4.pull-left
      .footer-text
        %p Rekrei is a volunteer project supported by a community of volunteers who dedicate their time for the preservation of cultural heritage through digital restoration of heritage that has been destroyed through human or natural means.
    .col-md-3.pull-right
      %p.address.small
        info@rekrei.org
      %ul.social.social-light
        %li
          %a{:href => "https://www.facebook.com/rekrei.org"}
            %i.fa.fa-2x.fa-facebook
        %li
          %a{:href => "https://twitter.com/rekrei"}
            %i.fa.fa-2x.fa-twitter
        %li
          %a{:href => "#"}
            %i.fa.fa-2x.fa-google-plus
        / /.social
    .col-xs-12.footer-text
      %p Rekrei is made possible through the dedication of the public and volunteers around the world.
      %p Thank you!
  / /.container
