<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-footer col-md-4 col-xs-6">
        <h3>About the Website</h3>
        <p>
          Developed and designed by <a href="https://github.com/neshmi">Matthew Vincent</a>
        </p>
        <p>
          We are using the awesome mPurpose template, you can get it <a href="http://dragdropsite.github.io/mPurpose/index.html">here</a>
      </div>
      <div class="col-footer col-md-4 col-xs-6">
        <h3>Contacts</h3>
        <p class="contact-us-details">
            <b>Email:</b> <a href="mailto:info@projectmosul.org">info@projectmosul.org</a>
          </p>
      </div>
      <div class="col-footer col-md-4 col-xs-6">
        <h3>Stay Connected</h3>
        <ul class="footer-stay-connected no-list-style">
          <li><a href="https://www.facebook.com/projectmosul" class="facebook"></a></li>
          <li><a href="https://twitter.com/projectmosul" class="twitter"></a></li>
          <li><a href="https://plus.google.com/u/0/b/101278760726149246768/101278760726149246768/about" class="googleplus"></a></li>
        </ul>
      </div>
    </div>
</div>
