%section.content-block-nopad.bg-deepocean.footer-wrap-1-3
  .container.footer-1-3
    .col-md-4.pull-left
      = image_tag "logos/rekrei_footer.png", class: "brand-img img-response"
      %ul.social.social-light
        %li
          %a{:href => "https://www.facebook.com/rekrei.org"}
            %i.fa.fa-2x.fa-facebook
        %li
          %a{:href => "https://twitter.com/rekrei"}
            %i.fa.fa-2x.fa-twitter
        %li
          %a{:href => "#"}
            %i.fa.fa-2x.fa-google-plus
        / /.social
    .col-md-4.pull-left
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .col-md-3.pull-right
      %p.address.small
        info@rekrei.org
    .col-xs-12.footer-text
      %p
        Rekrei is made possible through the dedication of the public and volunteers around the world. Thank you!
  / /.container
