<div class="mainmenu-wrapper">
  <div class="container">
    <div class="menuextras">
      <div class="extras">
        <ul>
          <li><%= link_to "Login", new_user_session_path %></li>
        </ul>
      </div>
    </div>
    <nav id="mainmenu" class="mainmenu">
      <ul>
        <%= render 'layouts/navigation_links' %>
      </ul>
    </nav>
  </div>
</div>