<!DOCTYPE html> 
<html lang="en" style="height:100%;">
    <head> 
        <meta charset="utf-8">         
        <title>Pinegrow Bootstrap Blocks</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">         
        <meta name="keywords" content="pinegrow, blocks, bootstrap" />
        <meta name="description" content="My new website" />
        <link rel="shortcut icon" href="ico/favicon.png">         
        <!-- Core CSS -->         
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">         
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700" rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet">
        <!-- Style Library -->         
        <link href="css/style-library-1.css" rel="stylesheet">
        <link href="css/plugins.css" rel="stylesheet">
        <link href="css/blocks.css" rel="stylesheet">
        <link href="css/custom.css" rel="stylesheet">
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->         
        <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->         
    </head>     
    <body data-spy="scroll" data-target="nav">
        <header id="header-1" class="header-1">
            <!-- Navbar -->
            <nav class="main-nav navbar-fixed-top headroom headroom--pinned">
                <div class="container">
                    <!-- Brand and toggle -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="#">
                            <img src="images/brand/pgblocks-logo-white-nostrap.png" class="brand-img img-responsive">
                        </a>
                    </div>
                    <!-- Navigation -->
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active nav-item">
                                <a href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="#">Features</a>
                            </li>
                            <li class="nav-item">
                                <a href="#">Pricing</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">Pages <i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">Dropdown 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Dropdown 2</a>
                                    </li>
                                    <li>
                                        <a href="#">Dropdown 3</a>
                                    </li>
                                    <li>
                                        <a href="#">Dropdown 4</a>
                                    </li>
                                </ul>                                 
                            </li>
                            <!--//dropdown-->                             
                            <li class="nav-item">
                                <a href="#">Contact</a>
                            </li>
                        </ul>
                        <!--//nav-->
                    </div>
                    <!--// End Navigation -->
                </div>
                <!--// End Container -->
            </nav>
            <!--// End Navbar -->
        </header>
        <div class="map min-height-500px"></div>
        <section id="content-2-2" class="content-block content-2-2 bg-pomegranate">
            <div class="container">
                <!-- Start Row -->
                <div class="row">
                    <div class="col-sm-4 col-xs-12 text-center">
                        <div class="icon-outline">
                            <span class="fa fa-send"></span>
                        </div>
                        <h3>Make your ideas happen</h3>
                        <p>Etsy ethnic actually hella Odd Future meggings shabby chic leggings salvia master cleanse stumptown.</p>
                    </div>
                    <div class="col-sm-4 col-xs-12 text-center">
                        <div class="icon-outline">
                            <span class="fa fa-star"></span>
                        </div>
                        <h3>Hands-on customer support</h3>
                        <p>Etsy ethnic actually hella Odd Future meggings shabby chic leggings salvia master cleanse stumptown.</p>
                    </div>
                    <div class="col-sm-4 col-xs-12 text-center">
                        <div class="icon-outline">
                            <span class="fa fa-tags"></span>
                        </div>
                        <h3>Hand crafted, quality code</h3>
                        <p>Etsy ethnic actually hella Odd Future meggings shabby chic leggings salvia master cleanse stumptown.</p>
                    </div>
                </div>
                <!--// END Row -->
            </div>
        </section>
        <section id="content-3-7" class="content-block content-3-7">
            <div class="container">
                <div class="col-sm-12">
                    <div class="underlined-title">
                        <h1>Centered Title</h1>
                        <hr>
                        <h2>You'll <span class="fa fa-heart pomegranate"></span> Pinegrow Blocks</h2>
                    </div>
                </div>
            </div>
        </section>
        <section id="content-3-10" class="content-block-nopad content-3-10">
            <div class="image-container col-sm-6 col-xs-12 pull-left">
                <div class="background-image-holder">
</div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-6 col-xs-12 content">
                        <h3>Kickstart your web development</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        <a href="#" class="btn btn-outline btn-outline outline-dark">Try the demo</a>
                    </div>
                </div>
                <!-- /.row-->
            </div>
            <!-- /.container -->
        </section>
        <section id="content-3-7" class="content-block content-3-7">
            <div class="container">
                <div class="col-sm-12">
                    <div class="underlined-title">
                        <h1>Centered Title</h1>
                        <hr>
                        <h2>You'll <span class="fa fa-heart pomegranate"></span> Pinegrow Blocks</h2>
                    </div>
                </div>
            </div>
        </section>
        <section id="content-3-11" class="content-block-nopad content-3-11">
            <div class="image-container col-sm-6 col-xs-12 pull-right">
                <div class="background-image-holder">
</div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-12 content pull-left">
                        <h3>Kickstart your web development</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        <a href="#" class="btn btn-outline btn-outline outline-dark">Try the demo</a>
                    </div>
                </div>
                <!-- /.row-->
            </div>
            <!-- /.container -->
        </section>
        <section class="content-block gallery-1 gallery-1-1">
            <div class="container">
                <div class="underlined-title">
                    <h1>A selection of our work</h1>
                    <hr>
                    <h2>Hand-picked just for you</h2>
                </div>
                <ul class="filter">
                    <li class="active">
                        <a href="#" data-filter="*">All</a>
                    </li>
                    <li>
                        <a href="#" data-filter=".artwork">Artwork</a>
                    </li>
                    <li>
                        <a href="#" data-filter=".creative">Creative</a>
                    </li>
                    <li>
                        <a href="#" data-filter=".nature">Nature</a>
                    </li>
                    <li>
                        <a href="#" data-filter=".outside">Outside</a>
                    </li>
                    <li>
                        <a href="#" data-filter=".photography">Photography</a>
                    </li>
                </ul>
                <!-- /.gallery-filter -->
                <div class="row">
                    <div class="isotope-gallery-container">
                        <div class="col-md-3 col-sm-6 col-xs-12 gallery-item-wrapper artwork creative">
                            <div class="gallery-item">
                                <div class="gallery-thumb">
                                    <img src="http://placehold.it/800x600" class="img-responsive" alt="1st gallery Thumb">
                                    <div class="image-overlay"></div>
                                    <a href="http://placehold.it/800x600" class="gallery-zoom"><i class="fa fa-eye" alt="This is the title"></i></a>
                                    <a href="#" class="gallery-link" target="_blank"><i class="fa fa-link"></i></a>
                                </div>
                                <div class="gallery-details">
                                    <h5>1st Gallery Item</h5>
                                </div>
                            </div>
                        </div>
                        <!-- /.gallery-item-wrapper -->
                        <div class="col-md-3 col-sm-6 col-xs-12 gallery-item-wrapper nature outside">
                            <div class="gallery-item">
                                <div class="gallery-thumb">
                                    <img src="http://placehold.it/800x600" class="img-responsive" alt="2nd gallery Thumb">
                                    <div class="image-overlay"></div>
                                    <a href="http://placehold.it/800x600" class="gallery-zoom"><i class="fa fa-eye"></i></a>
                                    <a href="#" class="gallery-link"><i class="fa fa-link"></i></a>
                                </div>
                                <div class="gallery-details">
                                    <h5>2nd Gallery Item</h5>
                                </div>
                            </div>
                        </div>
                        <!-- /.gallery-item-wrapper -->
                        <div class="col-md-3 col-sm-6 col-xs-12 gallery-item-wrapper photography artwork">
                            <div class="gallery-item">
                                <div class="gallery-thumb">
                                    <img src="http://placehold.it/800x600" class="img-responsive" alt="3rd gallery Thumb">
                                    <div class="image-overlay"></div>
                                    <a href="http://placehold.it/800x600" class="gallery-zoom"><i class="fa fa-eye"></i></a>
                                    <a href="#" class="gallery-link"><i class="fa fa-link"></i></a>
                                </div>
                                <div class="gallery-details">
                                    <h5>3rd Gallery Item</h5>
                                </div>
                            </div>
                        </div>
                        <!-- /.gallery-item-wrapper -->
                        <div class="col-md-3 col-sm-6 col-xs-12 gallery-item-wrapper creative nature">
                            <div class="gallery-item">
                                <div class="gallery-thumb">
                                    <img src="http://placehold.it/800x600" class="img-responsive" alt="4th gallery Thumb">
                                    <div class="image-overlay"></div>
                                    <a href="http://placehold.it/800x600" class="gallery-zoom"><i class="fa fa-eye"></i></a>
                                    <a href="#" class="gallery-link"><i class="fa fa-link"></i></a>
                                </div>
                                <div class="gallery-details">
                                    <h5>4th Gallery Item</h5>
                                </div>
                            </div>
                        </div>
                        <!-- /.gallery-item-wrapper -->
                        <div class="col-md-3 col-sm-6 col-xs-12 gallery-item-wrapper nature">
                            <div class="gallery-item">
                                <div class="gallery-thumb">
                                    <img src="http://placehold.it/800x600" class="img-responsive" alt="5th gallery Thumb">
                                    <div class="image-overlay"></div>
                                    <a href="http://placehold.it/800x600" class="gallery-zoom"><i class="fa fa-eye"></i></a>
                                    <a href="#" class="gallery-link"><i class="fa fa-link"></i></a>
                                </div>
                                <div class="gallery-details">
                                    <h5>5th Gallery Item</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 gallery-item-wrapper artwork creative">
                            <div class="gallery-item">
                                <div class="gallery-thumb">
                                    <img src="http://placehold.it/800x600" class="img-responsive" alt="6th gallery Thumb">
                                    <div class="image-overlay"></div>
                                    <a href="http://placehold.it/800x600" class="gallery-zoom"><i class="fa fa-eye"></i></a>
                                    <a href="#" class="gallery-link"><i class="fa fa-link"></i></a>
                                </div>
                                <div class="gallery-details">
                                    <h5>6th Gallery Item</h5>
                                </div>
                            </div>
                        </div>
                        <!-- /.gallery-item-wrapper -->
                        <!-- /.gallery-item-wrapper -->
                        <div class="col-md-3 col-sm-6 col-xs-12 gallery-item-wrapper nature outside">
                            <div class="gallery-item">
                                <div class="gallery-thumb">
                                    <img src="http://placehold.it/800x600" class="img-responsive" alt="7th gallery Thumb">
                                    <div class="image-overlay"></div>
                                    <a href="http://placehold.it/800x600" class="gallery-zoom"><i class="fa fa-eye"></i></a>
                                    <a href="#" class="gallery-link"><i class="fa fa-link"></i></a>
                                </div>
                                <div class="gallery-details">
                                    <h5>7th Gallery Item</h5>
                                </div>
                            </div>
                        </div>
                        <!-- /.gallery-item-wrapper -->
                        <div class="col-md-3 col-sm-6 col-xs-12 gallery-item-wrapper photography artwork">
                            <div class="gallery-item">
                                <div class="gallery-thumb">
                                    <img src="http://placehold.it/800x600" class="img-responsive" alt="8th gallery Thumb">
                                    <div class="image-overlay"></div>
                                    <a href="http://placehold.it/800x600" class="gallery-zoom"><i class="fa fa-eye"></i></a>
                                    <a href="#" class="gallery-link"><i class="fa fa-link"></i></a>
                                </div>
                                <div class="gallery-details">
                                    <h5>8th Gallery Item</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.isotope-gallery-container -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>
        <section id="content-1-6" class="content-1-6 content-block"> 
            <div class="container">
                <div class="row text-center">
                    <h2>Some of our great partners</h2>
                </div>
                <!--end of row-->
                <div class="row client-row">
                    <div class="row-wrapper">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <img alt="client" src="images/partner-logos/logo-bootstrap.png">
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <img alt="client" src="images/partner-logos/logo-less.png">
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <img alt="client" src="images/partner-logos/logo-sass.png">
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <img alt="client" src="images/partner-logos/logo-jquery.png">
                        </div>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row client-row">
                    <div class="row-wrapper">
                        <div class="col-md-3 hidden-sm hidden-xs">
                            <img alt="client" src="images/partner-logos/logo-grunt.png">
                        </div>
                        <div class="col-md-3 hidden-sm hidden-xs">
                            <img alt="client" src="images/partner-logos/logo-bower.png">
                        </div>
                        <div class="col-md-3 hidden-sm hidden-xs">
                            <img alt="client" src="images/partner-logos/logo-yeoman.png">
                        </div>
                        <div class="col-md-3 hidden-sm hidden-xs">
                            <img alt="client" src="images/partner-logos/logo-angularjs.png">
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>
        <section class="content-block-nopad bg-deepocean footer-wrap-1-3">
            <div class="container footer-1-3">
                <div class="col-md-4 pull-left">
                    <img src="images/brand/pgblocks-logo-white.png" class="brand-img img-responsive">
                    <ul class="social social-light">
                        <li>
                            <a href="#"><i class="fa fa-2x fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-2x fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-2x fa-google-plus"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-2x fa-pinterest"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-2x fa-behance"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-2x fa-dribbble"></i></a>
                        </li>
                    </ul>
                    <!-- /.social -->
                </div>
                <div class="col-md-3 pull-right">
                    <p class="address-bold-line">We <i class="fa fa-heart pomegranate"></i> our amazing customers</p>
                    <p class="address small">
					123 Anywhere Street,<br>
					London,<br>
					LO4 6ON</p>
                </div>
                <div class="col-xs-12 footer-text">
                    <p>Please take a few minutes to read our <a href="#">Terms & Conditions</a> and <a href="#">Privacy Policy</a></p>
                </div>
            </div>
            <!-- /.container -->
        </section>
        <div class="copyright-bar-2 bg-orange">
            <div class="container text-center">
                <p>© COPYRIGHT 2015 - Pinegrow Blocks - ALL RIGHTS RESERVED.</p>
            </div>
        </div>
        <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>         
        <script type="text/javascript" src="js/bootstrap.min.js"></script>         
        <script type="text/javascript" src="js/plugins.js"></script>
        <script src="https://maps.google.com/maps/api/js?sensor=true"></script>
        <script type="text/javascript" src="js/bskit-scripts.js"></script>         
    </body>     
</html>
